@media (prefers-color-scheme: light) {
    body {
        color:black;
        background:#ccc
    }

@media (prefers-color-scheme: dark) {
    body {
        color:#ccc;
        background:black
    }
